.row{
    width:100%;
    max-width:1280px;
    margin:0 aoto;
}

body{
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.nav__logo{
  display: flex;
  align-items: center;
  margin:10px;
}

.nav__img{
    width:40px;
    height:40px;
    
}
.nav__title{
    margin:10px;
    font-size: 28px;;
}
.nav__links{
    display:flex;
    gap:20px;
    justify-content: space-evenly;
    padding:20px 20px;
    align-items: center;
}
ul{
    list-style:none;
}

.nav__link{
    list-style:none;
    text-decoration:none;
    font-size: 18px;
    font-family:50;
    
}
.nav__row{
    display: flex;
    justify-content: space-between;  
}
.nav__button{
    margin:0px;
    padding:10px;
    border-radius:5px;
    background-color: blueviolet;
    color:white;
}
.nav__link--primary{
    margin:0 auto;
    border:1px solid;
    background-color: #6415ff;
    color: aliceblue;
    padding:10px;
    border-radius: 5px 8px;
}
.menu__backdrop{
    position:absolute;
    background-color:rgb(244, 239, 239);
    width:100%;
    height:100%;
    display: none;
    z-index:100;
  
}
.menu--open .menu__backdrop{ 
    display: flex;
    justify-content: center;
    
}

.button__menu{
    margin:10px;
    border: none;
    color:#6415ff;
    padding:20px;
    font-size:28px;
}
.btn__menu{
    border:none;
    background-color: transparent;
}
.button--close{
    position:absolute;
    right:20px;
    top:10px;
}
.menu__links{
    text-align: center;
    margin:150px;
    padding:20px;
}

.menu__link{
    margin:80px;
    font-size:24px;
    color:#6415ff;
    text-decoration:none;
}
./*menu__link--primary{
   border-radius:500px;
   background-color: #6415ff;
   color:white;
   border: 1px solid #6415ff;      
}*/

.header__description{
width:50%;
}
.header__row{
    display:flex;
    margin-top: 40px;
    margin-left:10px;
}
.header__email{
    position: relative;
    max-width:425px;
    width:100%
}

.header__email--input{
    
    padding:18px 140px 18px 24px;
    
    margin:20px;
    border-radius:999px;

    
}
.header__email--button{
     position: absolute;
  right: 26px;
  top: 44%;
  transform: translateX(-90%);
  border-radius: 999px;
  background: #6415ff;
  color: white;
  border: none;
}

.header__img--wrapper{
    width:50%;
}
.header__img{  
   max-width:512px;
}
#services{
 padding:40px;   
}
.service__title{
    text-align: center;
}
.service__sub-title{
    text-align: center;
}
.service__para{
    text-align:center;
    font-size:18px;
  
}
.header__customers--title{
    text-align: center;
    font-size:20px;
    font-family:900;
}
.header__customers{
width:100%;/* this is 100% width of .header__description*/
}
.purple{
    color: #6415ff;
}
 

.features{
    display:flex;
      flex-wrap: wrap;
}
.featute__title{
    margin-left:10px;
}
.feature{
   
  width: calc(100%/3);
  
}
.feature__row{
    display: flex;
    
    margin:10px;
}
.feature__img--wrapper{
    margin:10px;
}

.feature__img{
    border-radius:50px;
    border: 1px solid rgb(165, 75, 75);
    padding:15px;
    width:24px;
    height:24px
}

.feature__para{
    font-size:14px;
   
}
.quality__row{
    display:flex;
    padding:20px;
}
.quality__heading{
    width:calc(100%/2);
    margin-right:40px;
    padding:20px;
}
.quality__img--wrapper{
    width:500px;
}

.quality__img{
    width:100%;
    border-radius:5px;
    
}
.quality__title{
    font-size:16px;
    margin:20px;
}
.quality__sub-title{
    font-size:48px;
    font-weight:900;
    margin:10px;
}

.quality__button{
    padding: 20px;
    background-color: #6415ff;
    color:white;
    border:none;
    border-radius:500px;
}
.quality__para{
    font-size:20px;
}
.step__list{
    display:flex;
    margin:10px;
}
.step__count{
 margin-top:20px;
 margin-right:10px; 
 font-size:36px;
 color:rgb(203 213 224);
}
.step__title{
    font-size:20px;
    font-weight:600;
}
.step__para{
    
    color:rgb(113 128 150);
}
.step__row{
    display:flex;
}

.step__img--wrapper{
    width:50%;
}
.step__img{
    width:800px;    
}

.value--tag{
    display:flex;
}
.value__heading{
    width:50%;
}
.value__icon{
    background-color: rgb(110, 135, 110);
    margin:10px;
    border-radius: 100%;
    padding-top:20px;
    
}
.value__lists{
    display:flex;
    
    
}
.value__list{
    margin:20px;
}
.value__row{
    display:flex;
    justify-content: space-between;
    margin-top: 100px;
}
.value__image-wrapper{
    width:50%
}
.value__img{
width:400px;
}
.value__button{
    padding: 20px;
    background-color: #6415ff;
    color:white;
    border:none;
    border-radius:500px;
}
.value__title{
    font-size:16px;
    color:#6415ff;
    line-height: 1.6;
    font-weight:800px;
}
.value__heading{
    font-size:28px;
}
.value__para{
    font-size:18px;
}
.value__sub-title{
    font-size:18px;
}
.value__para--tag{
    font-size:18px;
}
.pricing--details{
    margin-top:80px;
}
.pricing__title .pricing__sub-title {
    text-align:center;
    
}
.price__sections{
    display:flex;
    justify-content: space-around;

}
.price__section{
    padding:20px;
    
}
.price--top{
    border:1px solid gainsboro;
     padding:40px;
     border-top: 10px solid rgb(167, 202, 167);
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
    
}
.price--middle{
   border:1px solid gainsboro; 
    padding:40px; 
    display:flex;
    flex-direction:column;  
    
}
.price__feature--title{
    text-align:center;
    margin:10px;
    font-size: 24px;
    font-weight: 900;
}
.price__feature--sub-title{
    text-align:center;
    font-size:28px;
    font-weight: 900;
}
.price__feature--duration{
    text-align: center;
    font-size:24px;
    font-weight:900;
    color:#aeaec0;
}
.price__feature--primary{
    text-align:center;
    font-size:28px;
    font-weight:900;
}
.price__feature{
    text-align:center;
    color:#aeaec0;
    font-size:20px;
    font-weight: 900;
}
.price--bottom{
     border:1px solid gainsboro;
      padding:20px;
      text-align: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
}
.price__button{
    background-color:rgb(167, 202, 167);
   border-radius:500px;
   padding: 20px 40px;
   border: none;
   cursor: pointer;
   color: white;
font-size: 20px;
}
.price__button :hover{
     transition: all 400ms ease;
     box-shadow: 0 5px 10px #aeaec0;
     background-color: rgb(110, 140, 110);
}
.price__button:active{
background-color: rgb(110, 140, 110);
}
.price__section2{
   
    padding:20px;
}
.price--top2{
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
     padding:55px;
     border: 1px solid rgb(150, 146, 206);
    background-color:rgb(100, 91, 231);
}
.price__feature--title2{
    text-align:center;
    margin:10px;
    font-size: 24px;
    font-weight: 900;
    color:white;
}
.price__feature--sub-title2{
    text-align:center;
    margin:10px;
    font-size: 28px;
    font-weight: 900;
    color:white;
}
.price__feature--duration2{
    text-align: center;
    font-size:24px;
    font-weight:900;
    color:white;
    
}
.price--middle2{
   border:1px solid rgb(117, 92, 161); 
    padding:40px; 
    display:flex;
    flex-direction:column;  
    background-color: rgb(100, 91, 231);
}
.price__feature--primary2{
   text-align:center;
    font-size:28px;
    font-weight:900; 
}
.price__feature2{
  text-align:center;
    color:white;
    font-size:20px;
    font-weight: 900;  
}
.price__feature--primary2{
   text-align:center;
    font-size:28px;
    font-weight:900;
    color:white; 
}
.price--bottom2{
     border:1px solid rgb(117, 92, 161);
      padding:24px;
      text-align: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      background-color: rgb(100, 91, 231);
}
.price__button2{
    background-color:white;
   border-radius:500px;
   padding: 20px 40px;
   border: none;
   cursor: pointer;
   color:purple;
}
.price__section3{
    padding:20px;
    
}
.price--top3{
    border:1px solid gainsboro;
     padding:40px;
     border-top: 10px solid rgb(2235, 159, 92);
     border-top-left-radius: 10px;
     border-top-right-radius: 10px;
    
}
.price__feature--title3{
    text-align:center;
    margin:10px;
    font-size: 24px;
    font-weight: 900;
}
.price__feature--sub-title3{
    text-align:center;
    font-size:28px;
    font-weight: 900;
}
.price__feature--duration3{
    text-align: center;
    font-size:24px;
    font-weight:900;
    color:#aeaec0;
}
.price--middle3{
   border:1px solid gainsboro; 
    padding:40px; 
    display:flex;
    flex-direction:column;  
    
}
.price__feature--primary3{
    text-align:center;
    font-size:28px;
    font-weight:900;
}
.price__feature3{
    text-align:center;
    color:#aeaec0;
    font-size:20px;
    font-weight: 900;
}
.price--bottom3{
     border:1px solid gainsboro;
      padding:20px;
      text-align: center;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
}
.price__button3{
    background-color:rgb(235, 159, 92);
   border-radius:500px;
   padding: 20px 40px;
   border: none;
   cursor: pointer;
   color: white;
font-size: 20px;
}
.ratings__image--wrapper{
    width:50%;
    padding: 20px;
    margin-top:90px;
    margin-left: 10px;;
}
.ratings__image{
width:400px;
}
.ratings__row{
    display:flex;
    margin-top:80px;
}
.ratings__para{
    color:#7c8ba1;
    
}
.ratings__description{
    margin:20px;
    padding:10px;
}
.ratings__title{
    color:#6415ff;
    font-size:16px;
    font-weight: 800px;
    letter-spacing:1.6px;
}
.ratings__sub-title{
    font-weight:20px;
}
.ratings__rate{
    color:rgb(246 173 86);
    margin-top:20px;
}
.ratings__headings{
    font-size:20px;
    color:#4a5568;
    font-weight:500;
    margin-top:10px;
}
.ratings__paragraph{
    color:rgb(74 86 104);
}
.rating__photo{
    display:flex;
    align-items: center;
    
}

.rating__image{
    border-radius: 500px;
    width:100px;
    margin-left:5px;
}
.rating__title{
    padding:10px;
}
.rating__heading{
    color:#4a5568;
    font-size:20px; 
    margin-bottom:1px;   
}
.rating__sub-title{
    color:#7c8ba1;
    margin-top:1px;
    font-size:20px;
}
.rating__direction{
    padding:10px;
    margin-left:80px;
}
.rating__direction--left{
    border: 1px solid gray;
    border-radius: 500px;
    padding:20px;
    color:#6415ff;
    margin:10px;
}
.rating__direction--right{
border: 1px solid gray;
    border-radius: 500px;
    padding:20px;
    color:#6415ff;
}
.start__row{
    background-color: #6415ff;
    padding:40px;
max-width:800px;
margin:auto;
}
.start__title{
    color:white;
    font-size:26px;
}
.button{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top:80px;
}
.start__button{
    padding:20px;
    border:2px;
background-color: #f56565;
border-radius: 500px;
color:white;
font-size:24px;
}
.contact__button{
  padding:20px;
    border:2px solid #aeaec0;
    background-color: #6415ff; 
    color:white;
    border-radius: 500px;
    font-size:24px;
}
footer{
     background-color: #6415ff;    
    
  
}
.footer{  
  padding: 80px 24px;
  display: flex;
  justify-content: space-between;
}
.main__title{
    color:white;
    margin-left:8px;
}
.main{
    display: flex;
    flex-direction:column;
    padding:20px;
    
}
.main__links{
    display:flex;
    flex-direction:column;
    
}
.main__link{
    color:white;
    text-decoration: none;
    margin:5px;
}
.main__link:hover{
    text-decoration:underline;
}
.footer__bottom{
    max-width:1280px;
    margin:0 auto;
}
.footer__image{
    width:50px;
}
.footer__logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.footer__text{
    color:white;
}
.footer__social-link{
    text-decoration: none;
    padding:10px;
    background-color:white;
    color:#aeaec0;
    margin:20px;
    border-radius:500px;

}
@media (max-width:755px){
.nav__links{
    display:none;
}
.btn__menu{
    margin:20px;
}
.header__row{
    display:flex;
    flex-direction:column;
    margin:20px;
}
.header__description{
    margin: 100px;
}
.features{
    display:flex;
    flex-direction: column;
    justify-content: center;
   
     width: 385px;
}
.feature{

}
.header__email--input{
    position:absolute;
}
.header__img{
    transform: translateX(80px);
}
.feature__para{
    width:385px;
}
.quality__row {
    display:flex;
    flex-direction: column;
    align-items: center;

}
.quality__img--wrapper{
    margin-top:60px;
}
.step__row {
    display:flex;
    flex-direction:column;
}
.step__img--wrapper{
    width:100%;
}
.step__img{
    max-width:600px;
   
}
.step{
    display: flex;
    justify-content: center;
}
.step__title{
    margin:20px;
    text-align: center; 
    font-size:28px;
    font-weight:900;   
}
.step__sub-title{
    margin:20px;
    text-align: center;
    font-size:24px;
    font-weight:900;
}
.step__list{
    display: flex;
    flex-direction:column;
   
}
.step__count{
    font-size:36px;
    text-align: center;
}
.step__list--title{
font-size: 36px;
text-align: center;
margin:10px;
}
.step__para{
    width:200px;
    font-size:18px;
    text-align: center;
}

.value__row{
    display: flex;
    flex-direction: column-reverse;
    
    align-items: center;
}
.value__title{
    font-size:28px;
    text-align: center;
}
.value__sub-title{
    font-size:28px;
    text-align:center;
}
.value__lists{
    display:flex;
    flex-direction:column;
}
.value__button{
    display: block;
    margin:auto;
}
.pricing--details{
    text-align: center;
}
.price__sections{
    display:flex;
    flex-direction:column;
    align-items: center;
}
.price__section{
   width:290px;
   
}
.ratings__row{
display:flex;
flex-direction:column;
align-items: center;
}
.ratings__description{
    text-align:center;
}
.start__row{
    width:600px;
}
.start__title{
    font-size:28px;
}
.start__button{
    padding:20px;
}
.contact__button{
    padding:20px;
}
.footer{
    width:400px;
    display:flex;
    flex-wrap:wrap;
    padding:40px;
}
.main{
    margin-left:10px;
}
}
@media (max-width:650px){
    .nav__row{      
display:flex;
justify-content: space-between;
    }
    .row{
        width:100%;
    }
    .header__row{
        display:flex;
        flex-direction:column;
        justify-content: center;
    }
.btn__menu{
    margin:20px;
}
.header__row{
    display:flex;
    flex-direction:column;
    margin:10px;
}
.header__description{
    margin: 100px;
}
.features{
    display:flex;
    flex-direction: column;
    align-items: center;
     width: 385px;
}
.header__description{
    text-align: center;
    margin:60px;
}
.header__email{
    width:500px;
    position: relative;
    top:10;
    left:10px;
}
.header__email--input{
    max-width:200px;
    margin:0 auto;
    position:absolute;
}
.header__img--wrapper{
    width:100%
}
.header__img{
    max-width:250px;
}
.features{
    
    display: flex;
    padding:20px;
    align-items: center;
    
}
.feature{
    max-width: 200px;
    margin:10px;
    transform:translateX(-180px);
}
.feature__para{
    width:200px;
    font-size: 18px;;
}
.quality__title{
    text-align: center;
    font-size:20px;
}
.quality__sub-title{
    text-align:center;
    font-size:28px;
}
.quality__para{
    line-height: 1;
    width:200px;
    margin-top:40px;
    margin-bottom:20px;
}
.quality__img--wrapper{
    width:500px;
}
.quality__img{
    max-width:280px;;
    transform: translateX(80px);
}
.step__img--wrapper{
    width:100%;

}
.step__img{
    width:350px;
    transform: translateX(-20px);
}
.value__img--wrapper{
    width:500px;
}
.value__img{
    width:350px;
    margin-right:20px;
}
.value__title{
    margin-bottom:10px;
}
.value__para{
    width:260px;
    font-size:20px;
     transform: translateX(10px);
    
}
.value__tag{
    margin-bottom:10px;
}
.ratings__image--wrapper{
    width:500px;

}
.ratings__image{
    max-width:350px;
    margin: 10px;
     transform: translateX(70px);
}
.ratings__sub-title{
font-size:26px;
}
.ratings__para{
    margin:40px;
    font-size: 18px;
}
.ratings__paragraph{
    margin:50px;
    font-size: 18px;
}
.ratings__headings{
    margin-bottom:20px;
}
.rating__photo{
    display:flex;
    flex-direction:column;
    align-items: center;

}
.rating__image--wrapper{
    margin:10px;
}
.rating__title{
    margin:10px;
}
.rating__direction{
    margin:10px;
}
.start__row{
    width:400px;   
}
footer{
    width:100%;

}
}
